In [3]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext, HiveContext

#sc.stop()
sc = SparkContext()
sqlContext = SQLContext(sc)

In [2]:
#sc.stop()

In [5]:
# from pyspark import SparkConf, SparkContext
# from pyspark.sql import SQLContext, HiveContext

# sc = SparkContext()
# hiveContext = HiveContext(sc)

# sql_cmd = """SELECT name, lat, long
# FROM stations
# WHERE landmark = 'San Jose'"""

In [6]:
#sqlContext.sql(sql_cmd).show()

In [3]:
myrdd = sc.parallelize([('Jeff', 46),('Kellie', 44)])

In [4]:
sqlContext.createDataFrame(myrdd).collect()

[Row(_1='Jeff', _2=46), Row(_1='Kellie', _2=44)]

In [8]:
stationsrdd = sc.parallelize(['{"name":"Adobe on Almaden", "lat":37.331415, "long":-121.8932}',
                              '{"name":"Japantown", "lat":37.348742, "long":-121.894715}'])

#df = sqlContext.jsonRDD(stationsrdd)
df = sqlContext.read.json(stationsrdd)
df.show()

+---------+-----------+----------------+
|      lat|       long|            name|
+---------+-----------+----------------+
|37.331415|  -121.8932|Adobe on Almaden|
|37.348742|-121.894715|       Japantown|
+---------+-----------+----------------+

In [9]:
# read an individual file
df = sqlContext.read.text('stations.csv')
df.take(1)

[Row(value='2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013')]

In [17]:
rdd = sc.parallelize(['{"name":"Adobe on Almaden", "lat":37.331415, "long":-121.8932}',
                      '{"name":"Japantown", "lat":37.348742, "long":-121.894715}'])

df = sqlContext.read.json(rdd)
df.printSchema()

root
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- name: string (nullable = true)

In [24]:
from pyspark.sql.types import *

myschema = StructType([StructField("station_id", IntegerType(), True),
                       StructField("name", StringType(), True),
                       StructField("lat", FloatType(), True),
                       StructField("long", FloatType(), True),
                       StructField("dockcount", IntegerType(), True),
                       StructField("landmark", StringType(), True),
                       StructField("installation", StringType(), True)])

rdd = sc.textFile('file:///.../stations.csv')\
                    .map(lambda x: x.split(','))\
                    .map(lambda x: (int(x[0]), str(x[1]),
                                    float(x[2]), float(x[3]),
                                    int(x[4]), str(x[5]), str(x[6])))

df = sqlContext.createDataFrame(rdd, myschema)
df.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- long: float (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: string (nullable = true)

In [25]:
df.columns

['station_id', 'name', 'lat', 'long', 'dockcount', 'landmark', 'installation']

In [26]:
df.dtypes

[('station_id', 'int'),
 ('name', 'string'),
 ('lat', 'float'),
 ('long', 'float'),
 ('dockcount', 'int'),
 ('landmark', 'string'),
 ('installation', 'string')]

In [6]:
rdd = sc.parallelize([('Jeff', 46),('Kellie', 44),('Jeff', 46)])
df = sqlContext.createDataFrame(rdd)
df.show()

+------+---+
|    _1| _2|
+------+---+
|  Jeff| 46|
|Kellie| 44|
|  Jeff| 46|
+------+---+

In [8]:
df.distinct().show()

+------+---+
|    _1| _2|
+------+---+
|  Jeff| 46|
|Kellie| 44|
+------+---+

In [10]:
df.drop_duplicates().show()

+------+---+
|    _1| _2|
+------+---+
|  Jeff| 46|
|Kellie| 44|
+------+---+